extends layout

block content
  h1= title

  form(id='BooksForm', action="/resource/Books/", method="POST")
    br
    div.form-group
        label.BooksAttr(for='Books_price') Books price
        input#Booksprice(type='number', name='Books_price')
    br
    div.form-group
        label.BooksAttr(for='Books_category') Books category
        input#Bookscategory(type='text', name='Books_category')
    br
    div.form-group
        label.BooksAttr(for='Books_name') Books name
        input#Booksname(type='text', name='Books_name')
    br
    input(type="submit" class="btn btn-danger")

  script.
    document.forms['BooksForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show user that form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      }).then((resp) => {
        return resp.json(); // or resp.text() or whatever the server sends
      }).then((body) => {
        alert("Save succeded")
        // TODO handle body
      }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });